#contenedor {
padding:30px 0px 0px 0px;
width:auto;
margin-top:10px;
}

#contenido {
    padding:10px 30px 10px 30px;
    color:black;
    width:459px;
    float:left;
    margin-left:50px;
}

#contenido2 {
    width:170px;
    font-size:18px;
    float:left;
    height:50px;
    margin-right:10px;
    text-align:right;
}

#productos {
    width:200px;
    font-size:18px;
    float:left;
    height:300px;
    margin-top:20px;
    margin-right:20px;
    text-align:center;
    background-color: 	#DEC980;
    border-radius: 55px 10px 55px 10px;
}

#productosCarrito {
    width:auto;
    font-size:18px;
    height:60px;
    margin-top:0px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    text-align:center;
    background-color:#DEC980;
    border-radius: 0px 0px 20px 20px;
}

#contenido3 {
    vertical-align: middle;
    width:185px;
    font-size:18px;
    float:left;
    height:70px;
    margin-right:10px;
    text-align:left;
}
#contenido4 {
    vertical-align: middle;
    width:78px;
    font-size:18px;
    float:left;
    height:70px;
    margin-right:10px;
    text-align:center;
}
#contenido0 {
    padding:10px 0px 10px 0px;
    float:left;
    margin-left:50px;
}
#mensajeCarrito {
    vertical-align: middle;
    width:200px;
    font-size:20px;
    text-align:center;
}