#contenedor {
padding:0 0 0 0;
width:auto;
margin-top:10px;
}

#contenido {
    padding:10px 30px 10px 30px;
    color:black;
    width:459px;
    float:left;
}

#contenido2 {
    width:170px;
    font-size:18px;
    float:left;
    height:50px;
    margin-right:10px;
    text-align:right;
}